{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'jadwal.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
        <title>Jadwal</title>
    </head>

    <body>
        <div class="judul d-flex">
            <div class="mr-auto p-2">
                <h1>Jadwal Kuliah</h1>
            </div>
            <div class="p-2">
                <h1><a href="https://story4-calmeryan.herokuapp.com">Story 4</a></h1>
            </div>
            
        </div>
        <div class="container">
        <br>
        <br>
        <br>
        <br>    
        <div class="row justify-content-between">
        <div class="col-4">
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                {{ formulir }}
                <div class = "centre-items" style = "margin-top: 2%">
                    <input type = "submit" class="btn btn-primary" value="masukan"> 
                </div>
            </form>
        </div>
        </div>

        <div class="col-7">
        <div class="table-responsive" id="Table">
            
                
            <table class="table table-hover">
                <thead>
                    <div class="jadwal.css">
                    <tr style="color: #192965;">
                        <th scope="col">Mata Kuliah</th>
                        <th scope="col">Dosen</th>
                        <th scope="col">Jumlah sks</th>
                        <th scope="col">Deskripsi</th>
                        <th scope="col">Semester</th>
                        <th scope="col">Ruang Kelas</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for i in jadwal %}
                <tbody>
                    <tr>
                        <td>{{i.mata_kuliah}}</td>
                        <td>{{i.dosen}}</td>
                        <td>{{i.jumlah_sks}}</td>
                        <td>{{i.deskripsi}}</td>
                        <td>{{i.semester}}</td>
                        <td>{{i.ruang_kelas}}</td>
                        <td>
                            <a  href = "{% url 'jadwal:hapus' pk=i.pk %}">
                                <button class="btn btn-icon btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </a>
                        </td>
                        <td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            
        </div>
        </div>
        </div>
        </div>
    </body>
</html>